/D1
env
.node_modules
notebooks
static/extracted_frames

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

Dockerfile
d.md